Package: shisher
Version: 2.3.5
Architecture: all
Maintainer: @darkwall
Depends: curl, php, unzip
Homepage: https://github.com/htr-tech/shisher
Description: An automated phishing tool with 30+ templates. This Tool is made for educational purpose only !
